<nav ng-controller="MenuController" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand">Controle de Ponto Pessoal</span>
			<button ng-if="usuario" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-th fa-lg text-muted"></span>
			</button>
		</div>
		<div ng-if="usuario" class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-href="#/restrito/folha/mensal"><i class="fa fa-clock-o"></i> Folha Mensal</a></li>
				<li><a ng-href="#/publico/usuario" class="text-default"><i class="fa fa-user"></i> Olá, {{usuario.nome ? usuario.nome : usuario.login}}</a></li>
			</ul>
		 </div>
	</div>
</nav>
