<div class="row">
	<div class="col-xs-12 form-group">
		<h1 class="page-header"><i class="fa fa-clock-o"></i> Relatório de Registro Mensal</h1>

		<div class="center">
			<button class="btn btn-default" ng-click="nav.irParaAnoAnterior()"><i class="fa fa-fast-backward"></i> {{nav.anoAnterior() | date: 'MMM yy'}}</button>
			<button class="btn btn-default" ng-click="nav.irParaMesAnterior()"><i class="fa fa-step-backward"></i> {{nav.mesAnterior() | date: 'MMM yy'}}</button>
			<button class="btn btn-default" ng-click="nav.irParaAtual()" ng-if="!nav.isAtualSelecionado()"><i class="fa fa-refresh"></i> {{nav.atual() | date: 'MMM yy'}}</button>
			{{nav.controle() | date: 'MMM yy'}}
			<button class="btn btn-default" ng-click="nav.irParaMesSeguinte()">{{nav.mesSeguinte() | date: 'MMM yy'}} <i class="fa fa-step-forward"></i></button>
			<button class="btn btn-default" ng-click="nav.irParaAnoSeguinte()">{{nav.anoSeguinte() | date: 'MMM yy'}} <i class="fa fa-fast-forward"></i></button>
		</div>
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Data</th>
						<th>Registos</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(chave, registro) in dias" ng-class="isDataHoje(registro.date) ? 'info' : (!registro.trabalha ? 'active' : '')">
						<td>
							<span class="fa" ng-class="getIconeCalendario(registro)"></span>
							<span> {{registro.date | date: 'EEEE, dd/MM/yyyy'}}</span>
						</td>
						<td>
							<span ng-if="registro.trabalha">
								<strong>Entrada</strong>: {{registro.entrada}}
								<br>
								<strong>Almoço</strong>: {{registro.almoco}}
								<br>
								<strong>Retorno</strong>: {{registro.retorno}}
								<br>
								<strong>Saída</strong>: {{registro.saida}}
							</span>
						</td>
						<td>
							<span ng-if="registro.trabalha">
								<strong>Trabalhado</strong>: {{registro.totalExpediente * offset | secondsToDate}}
								<br>
								<strong>Almoço</strong>: {{registro.totalAlmoco * offset | secondsToDate}}
								<br>
								<strong>Expediente</strong>: {{offset | secondsToDate}}
								<br>
								<strong>Diferença</strong>: {{registro.totalExpediente * offset - offset | secondsToDate}}
							</span>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<strong>Total Mensal</strong>: {{total}}
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="center">
			<button class="btn btn-default" ng-click="nav.irParaAnoAnterior()"><i class="fa fa-fast-backward"></i> {{nav.anoAnterior() | date: 'MMM yy'}}</button>
			<button class="btn btn-default" ng-click="nav.irParaMesAnterior()"><i class="fa fa-step-backward"></i> {{nav.mesAnterior() | date: 'MMM yy'}}</button>
			<button class="btn btn-default" ng-click="nav.irParaAtual()" ng-if="!nav.isAtualSelecionado()"><i class="fa fa-refresh"></i> {{nav.atual() | date: 'MMM yy'}}</button>
			{{nav.controle() | date: 'MMM yy'}}
			<button class="btn btn-default" ng-click="nav.irParaMesSeguinte()">{{nav.mesSeguinte() | date: 'MMM yy'}} <i class="fa fa-step-forward"></i></button>
			<button class="btn btn-default" ng-click="nav.irParaAnoSeguinte()">{{nav.anoSeguinte() | date: 'MMM yy'}} <i class="fa fa-fast-forward"></i></button>
		</div>
	</div>
</div>
